<div class="container">
  <div class="search-container">
    <input type="text" [(ngModel)]="searchTitle" (input)="filterArticles()" placeholder="Search by title">
  </div>
  <div class="container">
    <div class="row">
      <ng-container *ngFor="let article of filteredArticles">
        <div class="col-lg-6 mb-3">
          <div class="article">
            <h2>{{ article.title }}</h2>
            <p><strong>Date:</strong> {{ article.createdAt | date }}</p>
            <p><strong>Author:</strong> {{ article.author }}</p>
            <p><strong>Category:</strong> {{ article.categories }}</p>
            <p *ngIf="article.showContent">{{ article.content }}</p>
            <button (click)="toggleContent(article)">See More ...</button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>