<div class="article" *ngFor="let article of articles" (click)="showDetails(article)">
          
    <div class="article-details">
        {{ article.id }} - {{ article.title }}  
        <p>createdAt:  {{ article.createdAt | date }} </p> 
        <p>createdBy:  {{ article.user.firstname | uppercase }} </p>

 
        
        <div *ngIf="selectedArticle === article" class="article-details">
            <div *ngIf="isEditMode">
             </div>
          <app-blog-details [blogPost]="selectedArticle" ></app-blog-details>
        </div>
    </div>
</div>
